<!DOCTYPE html>
<html lang="en">

<body>

<div id="BodyBlock" style="background:url(https://star-hills.de/images/Cabinet/BgCBody.jpg) bottom left repeat-x; background-size: contain; padding-bottom:70px;">
    <section>
        <div id="BlockCenter" style="border:2px solid #CCC; border-radius:10px; width:90%; margin:0 auto; padding-bottom:25px; background:#f0eeed;">
            <div id="TitleBlockCenter" style="width:100%; text-align:center; border-bottom:2px solid #CCC; font-size:34px; color:#000; font-weight:bold; padding:10px 0; margin-bottom:25px;">Ihre Bestellung war erfolgreich</div>
            <p style="text-align:center; font-size:18px; font-weight:bold; color:#444;">Auf Ihre angegebene E-Mail Adresse werden genaue Informationen zur Ihrer Bestellung geschickt.</p>
            <p style="text-align:center; font-size:18px; font-weight:bold; color:#444;">Ihr Ansprechspartner - Dima Schaible, +49(176) 70-20-35-32</p>
            <div id="BlockOrderAlli" style=" width:60%; padding:0 5%; margin-top:25px;">
                <p style="text-align:left; font-size:18px; color:#000;">Datum und Zeitpunkt des Verschickens</p>
                <div id="Time" style="width:100%; border:2px solid #CCC; border-radius:5px; padding:7px; background:#FFF;">
                    <p style="margin-right:25px;">${date}</p>
                    <div class="clr"></div>
                </div>
            </div>
            <div id="DescrOrd" style="width:60%; padding:0 5%; margin-top:25px;">
                <p style="text-align:left; font-size:18px; color:#000;">Bestellung</p>
                <div id="DeskrBlock" style="width:100%; border:2px solid #CCC; border-radius:5px; padding:7px; background:#FFF;  padding-bottom:15px;">
                    <p style=" margin-top:10px;">Art der Ware: Video-Geschenk</p>
                    <p style=" margin-top:10px;">Star: ${starname}</p>
                    <p style=" margin-top:10px;">Dauer des Videos: 1 Minuten</p>
                    <p style=" margin-top:10px;">Preis: ${payment}€</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>