<!DOCTYPE html>
<html>
<body>
<div style="background:url(https://star-hills.de/images/Cabinet/BgBlockSlider.jpg) 50px center repeat-x;width:100%; height:120px">
        <a href="https://star-hills.de" style="background:url(https://star-hills.de/images/Logo.png) center center no-repeat; width: 333px; height: 92px; display: block;"></a>
</div>

<h1 style="text-align: center;">${nameStar} gratuliert Ihnen</h1>
<a href="https://star-hills.de/your-video?star=${idStar}&video=${namevideo}"><img style="width: 60%; margin-left: 20%" src="https://star-hills.de/starSource/screens/${id}.png" ></a>
</body>
</html>