<!DOCTYPE html>
<html lang="en">
<body>
<p><strong>Hallo ${starname}, &nbsp;&nbsp;</strong> &nbsp;<br />
    &nbsp;&nbsp;&nbsp; &nbsp;<br />
    Sie haben eine neue Bestellung. Um Ihre Bestellung zu bearbeiten, &nbsp;&nbsp; &nbsp;<br />
    benutzen Sie das dieses <a href="https://star-hills.de/#login">Link:</a><br />
    &nbsp;&nbsp;&nbsp; &nbsp;<br />
    Mit freundlichen Gr&uuml;&szlig;en &nbsp;&nbsp; &nbsp;</p>

<hr />
<p>Ihr StarHills-Team&nbsp;&nbsp; &nbsp;</p>

<p>&nbsp;</p>
</body>
</html>